MONGO_URI=mongodb://localhost:27017
DB_NAME=careerbridge
SECRET_KEY=WdjHBrqfV4_9vaUt4hLcyuWPO7j66MHpefdyZhkO3QAA8f1h0TK45uN17mIbdqSblJSfBv0Kt58HCDzhozTXyg
ALGORITHM=HS256
TOKEN_EXPIRY_HOURS=24
COOKIE_SECURE=false
ADMIN_EMAIL=admin@careerbridge.com
ADMIN_PASSWORD=admin123
